<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joancolmenerodev.feature.crypto_list">

    <application>
        <activity
            android:name="com.joancolmenerodev.feature.crypto_detail.presentation.CryptoDetailActivity"
            android:label="@string/crypto_detail_activity_name"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName=".presentation.CryptoListActivity"/>
        <activity
            android:name=".presentation.CryptoListActivity"
            android:label="@string/crypto_list_activity_name"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>